/* Base Styles */
body {
    background-color: #FAF3E3;
    color: #934C3D; /* Primary Color */
    font-family: 'Kulim Park', sans-serif; /* Sulphur Point font, with Arial and sans-serif as fallbacks */
    font-weight: 300;
    color: #261410;

}

div.container
{

}
/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: #00B399; /* Primary Color */
    font-family: 'Kulim Park', sans-serif; /* Sulphur Point font, with Arial and sans-serif as fallbacks */
}

/* Links */
a, .nav-link, .nav-link:hover {
    color: #934C3D; /* Primary Color */
}

.bg-primary, .btn-primary
{
    background-color: #00B399 !important;

}

.bg-primary
{
    background: #00B399;
}

.bg-primary h1
{
    color: #FAF3E3 !important;
    font-weight: 700  !important;
    font-size: 4em;
}

.bg-primary h2
{
    color: #FAF3E3 !important;
    font-weight: 400  !important;
}

header
{

  position: relative;
}

header img
{
  opacity: 0.05;
  position: absolute;
  left: 0;
  top: 0%;
    margin-bottom: 0%;
  width: 100%;
  height: auto;
}

header .content
{

  position: relative;

}
/* Secondary Color Elements */
.secondary-text {
    color: #934C3D;
}

.secondary-bg {
    background-color: #934C3D;
}

.nav-link span {
    max-width: 250px; /* Adjust this value to your liking */
    white-space: normal;
    word-wrap: break-word;
}

ul.nav-tabs li
{
    text-decoration: none;
}

ul.nav-tabs li img
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px !important;
}

li a#prompts-tab img {
    margin-top: 20px;
    height: 30px;

}

li a#classifications-tab img {
    height: 40px;
}

li a#assets-tab img {
    height: 40px;
}

.tab-description {
    font-size: 0.8rem;
    color: #777;
}